#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.Burger-Menu {
  height: 1em;
}

a:visited {
  text-decoration: none;
  color: white;
}
