#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  color: aliceblue;
}

.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.FullArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Burger-Menu {
  height: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}
